In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [2]:
df_ASPM = pd.concat(
    [pd.read_csv(ZipFile('ASPM.zip').open(i)) for i in ZipFile('ASPM.zip').namelist()],
    ignore_index=True
)
df_ASPM['Facility'] = df_ASPM['Facility'].str.strip()

df_ASPM.head()

,Hour,GMTHour,Date,Facility,ScheduledDepartures,ScheduledArrivals,DeparturesFor MetricComputation,ArrivalsFor MetricComputation,% On-TimeGateDepartures,% On-TimeAirportDepartures,% On-TimeGateArrivals,AverageGateDepartureDelay,AverageTaxiOutTime,AverageTaxiOutDelay,AverageAirportDepartureDelay,AverageAirborneDelay,AverageTaxiInDelay,AverageBlockDelay,AverageGateArrivalDelay
0,0,4,03/09/2015,ATL,0,3,0,1,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,7.0
1,0,4,03/09/2015,BOS,1,9,1,1,100.0,100.0,100.0,0.0,9.0,0.0,0.0,1.0,1.7,0.0,10.0
2,0,4,03/09/2015,BWI,0,8,0,1,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.7,0.0,0.0
3,0,4,03/09/2015,CLT,0,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,4,03/09/2015,DCA,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
weather_zip = ZipFile('AirportWeather.zip')

df_weather = pd.concat(
    [pd.read_csv(weather_zip.open(i), comment="#", skiprows=[11]) for i in weather_zip.namelist()],
    ignore_index=True
)

df_weather.head()

,Station_ID,Date_Time,air_temp_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,weather_cond_code_set_1,precip_accum_one_hour_set_1,visibility_set_1
0,KATL,2015-01-01T00:52:00Z,5.0,2.57,330.0,NaN,NaN,NaN,10.0
1,KATL,2015-01-01T01:52:00Z,4.0,2.06,310.0,NaN,NaN,NaN,10.0
2,KATL,2015-01-01T02:52:00Z,4.0,0.00,0.0,NaN,NaN,NaN,10.0
3,KATL,2015-01-01T03:52:00Z,3.0,2.57,320.0,NaN,NaN,NaN,10.0
4,KATL,2015-01-01T04:52:00Z,3.0,3.09,320.0,NaN,NaN,NaN,10.0

In [4]:
df_weather = df_weather.drop(['wind_gust_set_1'], axis = 1)
df_weather = df_weather.rename(columns = {'air_temp_set_1': 'air_temp','wind_speed_set_1': 'wind_speed','wind_direction_set_1': 'wind_direction',
'weather_cond_code_set_1': 'weather_condition', 'precip_accum_one_hour_set_1': 'precipitation', 'visibility_set_1': 'visibility'})

In [5]:
df_weather = df_weather.fillna(0)
df_weather['weather_condition'] = df_weather['weather_condition'].astype(int)
df_weather.head()

,Station_ID,Date_Time,air_temp,wind_speed,wind_direction,weather_condition,precipitation,visibility
0,KATL,2015-01-01T00:52:00Z,5.0,2.57,330.0,0,0.0,10.0
1,KATL,2015-01-01T01:52:00Z,4.0,2.06,310.0,0,0.0,10.0
2,KATL,2015-01-01T02:52:00Z,4.0,0.00,0.0,0,0.0,10.0
3,KATL,2015-01-01T03:52:00Z,3.0,2.57,320.0,0,0.0,10.0
4,KATL,2015-01-01T04:52:00Z,3.0,3.09,320.0,0,0.0,10.0

In [6]:
df_weather['weather_condition'].unique()

def find_weather_code(code):
    if code < 80:
        return code, 0, 0
    elif (code >= 80 and code < 6400):
        b = np.floor(code/80)
        c = code - (80*b)
        return 0, b, c
    else:
        a = np.floor(code/6400)
        remainder = code - (6400*a)
        b = np.floor(remainder/80)
        c = remainder - (80*b)
        return a, b, c

print(find_weather_code(200))

(0, 2.0, 40.0)

In [7]:
thunder = [5, 28, 29, 66, 77, 78]
snow = [3, 20, 21, 22, 24, 25, 32, 55, 56, 59, 60, 61, 62, 67, 70]
hail = [4, 26, 27, 38]

thunder_codes = []
snow_codes = []
hail_codes = []

for i in range(len(df_weather)):
    weather_tuple = find_weather_code(df_weather.iloc[i]['weather_condition'])
    if any(x in weather_tuple for x in thunder):
        thunder_codes.append(1)
    else:
        thunder_codes.append(0)

    if any(x in weather_tuple for x in snow):
        snow_codes.append(1)
    else:
        snow_codes.append(0)

    if any(x in weather_tuple for x in hail):
        hail_codes.append(1)
    else:
        hail_codes.append(0)

df_weather['thunder'] = thunder_codes
df_weather['snow'] = snow_codes
df_weather['hail'] = hail_codes
df_weather

,Station_ID,Date_Time,air_temp,wind_speed,wind_direction,weather_condition,precipitation,visibility,thunder,snow,hail
0,KATL,2015-01-01T00:52:00Z,5.0,2.57,330.0,0,0.0,10.0,0,0,0
1,KATL,2015-01-01T01:52:00Z,4.0,2.06,310.0,0,0.0,10.0,0,0,0
2,KATL,2015-01-01T02:52:00Z,4.0,0.00,0.0,0,0.0,10.0,0,0,0
3,KATL,2015-01-01T03:52:00Z,3.0,2.57,320.0,0,0.0,10.0,0,0,0
4,KATL,2015-01-01T04:52:00Z,3.0,3.09,320.0,0,0.0,10.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
22050897,PHNL,2022-12-31T23:45:00Z,27.0,2.57,200.0,0,0.0,10.0,0,0,0
22050898,PHNL,2022-12-31T23:50:00Z,27.0,4.63,200.0,0,0.0,10.0,0,0,0
22050899,PHNL,2022-12-31T23:53:00Z,26.7,4.12,210.0,0,0.0,10.0,0,0,0
22050900,PHNL,2022-12-31T23:55:00Z,26.0,3.60,210.0,0,0.0,10.0,0,0,0
22050901,PHNL,2023-01-01T00:00:00Z,27.0,3.60,210.0,0,0.0,10.0,0,0,0

In [14]:
#df_weather[df_weather.thunder == 1]
#df_weather.to_csv("AirportWeatherCodes.csv.zip", index=False, compression="zip")

#df_weather = pd.read_csv('AirportWeatherCodes.csv.zip', compression = 'zip')